.sec{
    height: 80vh;
    position: relative;
}
.content-one{
    height:80vh;
}
.content-one .parent{
    position: absolute;
    height: 80vh;
    width:100%;
}
.content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--first_Color);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 250px;
    flex-direction: column;
    z-index: 0;
}
.content-one .content h1{
    font-size: 55px;
    color:#fff;
    line-height: 67px;
    font-family: Monospace;
}
.img{
    max-width: 500px;
    width: 100%;
    position: absolute;
    left: 15%;
    top: 10%;
    transform: rotate(20deg);
}
.img img{
    width: 100%;
}
.cop p{
    animation: animatep 2s ease-in-out;
}
@keyframes animatep{
    0%{
        padding-right: 100px;
        opacity: 0;
    }
    100%{
        padding-right: 0;
        opacity: 1;
    }
}
.cop{
    z-index: 1;
    animation: animatecop 1.5s ease-in-out;
}
.cop .img{
    animation: animateimg 2s linear ;
    
}
.cop h1{
    animation: animateh 1s ease-in-out forwards;
    animation-delay: 1s;
    opacity: 0;
}
@keyframes animateimg{
    0%{
        opacity: 0;
        left:-100%;
    }
    100%{
        opacity: 1;
        left: 15%;
    }
}
@keyframes animatecop{
    0%{
        transform:translateY(-100%);
    }
    100%{
        transform:translateY( 0%);
    }
}
@keyframes animateh{
    0%{
        opacity: 0;
        transform: translateX(50%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}
.btn1{
    position: absolute;
    top: 50%;
    left: 5%;
    padding: 10px 20px;
    font-weight: 700;
    border: 2px solid var(--dark-Color);
    outline: 0;
    background: transparent;
    z-index: 1000;
}
.btn2{
    position: absolute;
    top: 50%;
    right: 5%;
    padding: 10px 20px;
    font-weight: 700;
    border: 2px solid var(--dark-Color);
    outline: 0;
    background: transparent;
    z-index: 1000;
}
.btn2:hover{
    background:#000;
    color: #fff;
}
.btn1:hover{
    background:#000;
    color: #fff;
}
